.jl_vip_zt_warp{
    position: relative;
}
.jl_vip_zt_warp_preview .jl_vip_zt_warp{
    height: 100%;
}
.jl_vip_zt_warp .jl_vip_zt_del{
    cursor: pointer;
    position: absolute;
    right:0;
    top: 0;
    background: rgba(255, 255, 255, 0.5);
    color: #999;
    display: block;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    font-size: 14px;
    border-radius: 50%;
    z-index: 99;
    font-weight: 400;
    font-style: inherit;
}
.jl_vip_zt_del::before {
    content: "\2716";
}
.jl_vip_zt_warp .jl_vip_zt_del:hover{
    color: #000;
    background-color: #fff;
}
.jl_vip_zt_warp .mask-layer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 10;
    background-color: rgba(0,0,0,0);
}
.jl_vip_zt_warp .mask-layer-active{
    border: 1px dashed #6777EF;
}