.jl_vip_zt_warp{
    position: relative;
}
.jl_vip_zt_warp_preview .jl_vip_zt_warp{
    height: 100%;
}
.jl_vip_zt_warp .jl_vip_zt_del{
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid #e6e9ff;
    color: #ec0606;
    display: block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 14px;
    border-radius: 50%;
    z-index: 150;
    font-weight: 400;
    font-style: inherit;
}
.jl_vip_zt_del::before {
    content: "\2716";
}
.jl_vip_zt_warp .jl_vip_zt_del:hover{
    color: #001eff;
    background-color: #fff;
}
.jl_vip_zt_warp .mask-layer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 10;
    border: 3px dashed rgba(211,211,211,0.9);
    background-color: rgba(0,0,0,0);
}
.jl_vip_zt_warp .mask-layer-active{
    border: 3px dashed #001eff;
    /* box-shadow: 0 0 5px #3a51ff inset; */
}