.service_sys_temp2 {
  overflow-x: hidden;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.service_sys_temp2 .service-main-w {
  height: 160px;
  display: flex;
  align-items: center;
  margin-left: calc(((11.1111% - 50px) / 2) - (11.1111% - 50px));
  margin-right: calc(((11.1111% - 50px) / 2) - (11.1111% - 50px));
}
.service_sys_temp2 .l-box {
  width: 11.1111%;
  float: left;
  cursor: pointer;
  text-align: center;
}
.service_sys_temp2 .l-box:hover {
  transition: all 0.3s;
}
.service_sys_temp2 .l-box:hover div.box-bg {
  margin-top: -5px;
}
.service_sys_temp2 .l-box div.box-bg {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 5px;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.23);
  border-radius: 5px 5px 5px 5px;
  margin-bottom: 6px;
  transition: all 0.3s;
  margin-top: 0;
}
.service_sys_temp2 .l-box div.box-bg img {
  width: 40px;
  height: 40px;
}
.service_sys_temp2 .l-box span {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  line-height: 0px;
  text-shadow: 0px 1px 5px #000000;
}
