@charset "UTF-8";
/***滚动条样式**/
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
*::-webkit-scrollbar-button {
  display: none;
}
*::-webkit-scrollbar-track {
  background-color: #ddd;
}
*::-webkit-scrollbar-track-piece {
  background: #f8f8f8;
}
*::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 0px;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: #ddd;
}
*::-webkit-scrollbar-corner {
  background-color: #ddd;
}
*::-webkit-scrollbar-resizer {
  background-color: #ddd;
}
.el-aside {
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
}
/**样式重置**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
}
html,
body,
.admin-warp-app {
  width: 100%;
  height: 100%;
  font-size: 14px;
  scroll-behavior: smooth;
  font-family: 'Microsoft YaHei', helvetica, Arial, Verdana, Sans-serif;
}
a {
  cursor: pointer;
  line-height: inherit;
  text-decoration: none;
}
iframe {
  border: none;
}
i {
  font-style: inherit;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button,
input,
textarea {
  outline: none;
}
button {
  cursor: pointer;
}
