/***通用预览+普通分段**/
/********分屏********** */
.fullPage {
  padding: 0;
  margin: 0;
  height: calc(100vh);
  overflow: hidden;
}
.fullPageContainer {
  width: 100%;
  height: calc(100vh);
  transition: all linear 0.5s;
}
.section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: calc(100vh);
  overflow-y: hidden;
  background-size: 100% 100% !important;
  background-repeat: no-repeat;
}
/*****其他通用 */
.width_1200 {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.scene-warp-bg {
  display: flex;
  align-items: center;
  z-index: 5;
}
.bocy-content {
  position: relative;
  min-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.html-warp-page {
  width: 100%;
  height: 1%;
  min-height: 100%;
}
/****悬浮菜单样式 */
.dlib3-hovering-menu {
  position: fixed;
  right: 20px;
  z-index: 99;
  top: 50%;
  margin-top: -100px;
}
.dlib3-hovering-menu .temp-box {
  display: block;
  cursor: pointer;
  color: #333;
  width: 60px;
  height: 60px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  transition: all 0.3s;
  margin: 6px 0;
  padding: 2px 5px;
}
.dlib3-hovering-menu .temp-box:hover {
  background: #fff;
  color: #fff;
  box-shadow: 2px 4px 7px #6b6a6a;
}
.dlib3-hovering-menu .temp-box:hover img {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}
.dlib3-hovering-menu .temp-box .temp-icon {
  width: 30px;
  height: 30px;
  display: block;
  border-radius: 3px;
  margin: 5px auto;
}
.dlib3-hovering-menu .temp-box .temp-title {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  text-align: center;
}
.dlib3-hovering-menu .temp-box-active {
  color: #fff;
  box-shadow: 2px 4px 7px #6b6a6a;
}
.dlib3-hovering-menu .temp-box-active img {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}
.dlib3-hovering-menu .temp-icon-hide {
  visibility: hidden;
}
.temp-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}
.jl_vip_zt_warp {
  height: 100%;
}
.mar-left-1200 {
  width: 100vw !important;
  min-width: 1200px;
  margin-left: calc(((100vw - 1200px) / 2) - (100vw - 1200px));
}
.mar-left-1440 {
  width: 100vw !important;
  min-width: 1440px;
  margin-left: calc(((100vw - 1440px) / 2) - (100vw - 1440px));
}
@media screen and (max-width: 1200px) {
  .mar-left-1200 {
    margin-left: 0 !important;
  }
  .html-warp-page {
    overflow-x: auto;
  }
}
@media screen and (max-width: 1440px) {
  .mar-left-1440 {
    margin-left: 0 !important;
  }
  .html-warp-page {
    overflow-x: auto;
  }
}
#temp1 {
  background-image: url(../../../../../static/images/szy/part2-rightbg.png), url(../../../../../static/images/szy/line-bg.jpg);
  background-position: 100% 0%, bottom center;
  background-repeat: no-repeat;
  background-size: auto, 100% !important;
}
#temp1 .scene-warp-bg {
  position: relative;
}
#temp1 .scene-warp-bg .bocy-content > div {
  z-index: 2;
}
#temp1 .scene-warp-bg .bocy-content::after {
  content: "";
  width: 1920px;
  height: 316px;
  background: #cf0d01;
  position: absolute;
  bottom: -16px;
  right: 20px;
  z-index: 1;
}
.template2 #temp1 .scene-warp-bg .bocy-content::after {
  background: #1e62a2 !important;
}
.template3 #temp1 .scene-warp-bg .bocy-content::after {
  background: #649b33 !important;
}
.template4 #temp1 .scene-warp-bg .bocy-content::after {
  background: #008e97 !important;
}
.template5 #temp1 .scene-warp-bg .bocy-content::after {
  background: #2034c4 !important;
}
#temp2 {
  background-image: url(../../../../../static/images/szy/line-bg.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100% !important;
}
#temp3 {
  background: url(../../../../../static/images/szy/leftbg.png) left top no-repeat, url(../../../../../static/images/szy/line-bg.jpg) bottom center no-repeat;
  background-size: 20%, 100%, 100% !important;
}
#temp3 .scene-warp-bg {
  position: relative;
}
#temp3 .scene-warp-bg .bocy-content > div {
  z-index: 2;
}
#temp3 .scene-warp-bg .bocy-content::after {
  content: "";
  width: 1920px;
  height: 316px;
  background: #cf0d01;
  position: absolute;
  bottom: -16px;
  left: 20px;
  z-index: 1;
}
.template2 #temp3 .scene-warp-bg .bocy-content::after {
  background: #1e62a2 !important;
}
.template3 #temp3 .scene-warp-bg .bocy-content::after {
  background: #649b33 !important;
}
.template4 #temp3 .scene-warp-bg .bocy-content::after {
  background: #008e97 !important;
}
.template5 #temp3 .scene-warp-bg .bocy-content::after {
  background: #2034c4 !important;
}
#temp4 {
  background-image: url(../../../../../static/images/szy/line-bg.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100% !important;
}
#temp5 {
  background: url(../../../../../static/images/szy/part1-bg-left.png) left bottom 144% no-repeat, url(../../../../../static/images/szy/part3-bg-right.png) right -70px top -7% no-repeat, url(../../../../../static/images/szy/line-bg.jpg) bottom center no-repeat;
  background-size: 14%, 25%, 100% !important;
}
#temp6 {
  background: url(../../../../../static/images/szy/part1-bg-left.png) left bottom 58% no-repeat, url(../../../../../static/images/szy/part3-bg-right.png) right -20px top -16% no-repeat;
  background-size: 14%, 22% !important;
}
