.fixed-menu-w {
  height: 56px;
  line-height: 56px;
  padding-right: 12px;
  background: #D5DCE9;
  margin-bottom: 5px;
  position: relative;
}
.fixed-menu-w .box {
  display: inline-block;
  color: #575F9B;
  font-size: 14px;
  padding: 10px;
  height: 100%;
  cursor: pointer;
  text-align: center;
}
.fixed-menu-w .box i {
  display: block;
  line-height: 18px;
  margin-bottom: 5px;
}
.fixed-menu-w .box i.iconfont {
  font-size: 16px;
}
.fixed-menu-w .box:hover {
  background: rgba(255, 255, 255, 0.15);
}
.fixed-menu-w .active {
  background: rgba(255, 255, 255, 0.2);
}
.fixed-menu-w .r-bt {
  position: absolute;
  right: 7px;
  top: -17px;
  top: 0;
  color: #fff;
}
.fixed-menu-w .r-bt i {
  cursor: pointer;
  height: 22px;
  width: 22px;
  line-height: 22px;
  font-size: 16px;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  margin-left: 5px;
}
.fixed-menu-w .r-bt i:hover {
  background: #575F9B;
}
.admin-content {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  height: 100%;
  z-index: 20;
}
.admin-content .drag-content {
  min-height: 300px;
  position: relative;
  background-color: #F1F3F7;
}
.admin-content .drag-content .drag-c {
  position: absolute;
  bottom: 0;
  top: 64px;
  background-color: #fff;
}
.admin-content .drag-content .drag-l-pad,
.admin-content .drag-content .drag-r-pad {
  width: 100%;
  height: 100%;
  height: 590px;
  padding: 0 12px;
  padding-right: 5px;
  padding-bottom: 20px;
  overflow-y: auto;
}
.admin-content .drag-content .drag-l-pad::-webkit-scrollbar,
.admin-content .drag-content .drag-r-pad::-webkit-scrollbar {
  width: 3px;
  height: 5px;
}
.admin-content .drag-content .drag-l-pad::-webkit-scrollbar-button,
.admin-content .drag-content .drag-r-pad::-webkit-scrollbar-button {
  display: none;
}
.admin-content .drag-content .drag-l-pad::-webkit-scrollbar-track,
.admin-content .drag-content .drag-r-pad::-webkit-scrollbar-track {
  background-color: #ddd;
}
.admin-content .drag-content .drag-l-pad::-webkit-scrollbar-track-piece,
.admin-content .drag-content .drag-r-pad::-webkit-scrollbar-track-piece {
  background: #f8f8f8;
}
.admin-content .drag-content .drag-l-pad::-webkit-scrollbar-thumb,
.admin-content .drag-content .drag-r-pad::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 0px;
}
.admin-content .drag-content .drag-l-pad::-webkit-scrollbar-thumb:hover,
.admin-content .drag-content .drag-r-pad::-webkit-scrollbar-thumb:hover {
  background-color: #ddd;
}
.admin-content .drag-content .drag-l-pad::-webkit-scrollbar-corner,
.admin-content .drag-content .drag-r-pad::-webkit-scrollbar-corner {
  background-color: #ddd;
}
.admin-content .drag-content .drag-l-pad::-webkit-scrollbar-resizer,
.admin-content .drag-content .drag-r-pad::-webkit-scrollbar-resizer {
  background-color: #ddd;
}
.admin-content .drag-content .drag-r-pad {
  background: url(../../../assets/admin/img/nullsetdata.png) no-repeat center;
  background-position-y: 50px;
}
.admin-content .drag-content .drag-l,
.admin-content .drag-content .drag-r {
  user-select: none;
  position: fixed;
  top: 105px;
  z-index: 9;
  background: #fff;
  width: 350px;
  z-index: 2;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}
.admin-content .drag-content .drag-l .cut-btn,
.admin-content .drag-content .drag-r .cut-btn {
  cursor: pointer;
  display: block;
  top: 50%;
  margin-top: -33px;
  position: absolute;
  color: #fff;
  width: 18px;
  height: 65px;
  text-align: center;
  line-height: 65px;
  background: #A5B3CC;
  user-select: none;
}
.admin-content .drag-content .drag-l .cut-btn:hover,
.admin-content .drag-content .drag-r .cut-btn:hover {
  opacity: 0.8;
}
.admin-content .drag-content .drag-l .cut-btn:active,
.admin-content .drag-content .drag-r .cut-btn:active {
  opacity: 1;
}
.admin-content .drag-content .drag-l {
  left: 90px;
}
.admin-content .drag-content .drag-l .cut-btn {
  left: 255px;
  border-radius: 0px 40px 40px 0px;
}
.admin-content .drag-content .drag-r {
  right: 10px;
}
.admin-content .drag-content .drag-r .cut-btn {
  right: 255px;
  border-radius: 40px 0px 0px 40px;
}
.admin-content .drag-content .drag-c {
  left: 0;
  right: 0;
  z-index: 1;
  /***************屏幕按钮板块 */
}
.admin-content .drag-content .drag-c .scaling-right {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 999;
}
.admin-content .drag-content .drag-c .drag-container {
  width: 100%;
  min-width: 430px;
  min-height: 100%;
  height: auto;
  background-color: #fff;
  padding: 20px;
}
.admin-content .drag-content .drag-c .drag-container .scene-warp-bg {
  background-position: top !important;
  background-repeat: no-repeat !important;
  position: relative;
}
.admin-content .drag-content .drag-c .drag-container .drag-warp-bg {
  min-height: 100%;
  width: 100%;
  padding: 1px;
  padding-bottom: 6px;
  background-color: #F1F3F7;
}
.admin-content .drag-content .drag-c .drag-container .drag-content {
  width: 1200px;
  min-height: 300px !important;
  transform-origin: 0 0;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0);
  position: relative;
}
.admin-content .drag-content .drag-c .drag-container .drag-content::after {
  content: '';
  position: absolute;
  left: -5px;
  bottom: -5px;
  right: -5px;
  top: 0;
  border: 3px dashed rgba(211, 211, 211, 0.9);
}
.admin-content .drag-content .drag-c .drag-container img {
  width: 1198px;
  display: block;
}
.admin-content .drag-content .drag-c .screen-btn-drag {
  padding: 20px 5px;
  padding-bottom: 0;
  background-color: #F1F3F7;
  /***首屏选中效果-不显示删除按钮 */
  /***选中效果 */
  /****新增按钮 */
}
.admin-content .drag-content .drag-c .screen-btn-drag .drag-box-warp {
  display: inline-block;
  margin-right: -5px;
}
.admin-content .drag-content .drag-c .screen-btn-drag .default-btn-n-border {
  margin-bottom: 20px;
  width: 126px;
  background-color: #C5CFE0;
  color: #34395E;
  margin-right: 40px;
  margin-left: 0;
  position: relative;
}
.admin-content .drag-content .drag-c .screen-btn-drag .default-btn-n-border:first-child {
  margin-left: 0;
}
.admin-content .drag-content .drag-c .screen-btn-drag .default-btn-n-border::after {
  position: absolute;
  content: '';
  display: block;
  left: -5px;
  right: -5px;
  top: -5px;
  bottom: -5px;
  border: 1px dashed #BCBCBC;
}
.admin-content .drag-content .drag-c .screen-btn-drag .default-btn-n-border .txt-show,
.admin-content .drag-content .drag-c .screen-btn-drag .default-btn-n-border .txt-edit {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 34px;
  position: absolute;
  left: 0;
  z-index: 2;
  top: 0;
  border-radius: 3px;
}
.admin-content .drag-content .drag-c .screen-btn-drag .default-btn-n-border .txt-edit {
  padding-right: 20px;
  cursor: auto;
  padding: 0 5px;
  border: 1px solid #C5CFE0;
}
.admin-content .drag-content .drag-c .screen-btn-drag .default-btn-n-border .s-b-d-close {
  position: absolute;
  right: -10px;
  top: -10px;
  display: none;
  z-index: 3;
  font-size: 16px;
  color: #6C757D;
}
.admin-content .drag-content .drag-c .screen-btn-drag .default-btn-n-border .s-b-d-close:hover {
  opacity: 0.8;
}
.admin-content .drag-content .drag-c .screen-btn-drag .default-btn-n-border .s-b-d-close:active {
  opacity: 1;
}
.admin-content .drag-content .drag-c .screen-btn-drag .default-btn-n-border .s-btn-edit {
  display: none;
  cursor: pointer;
  position: absolute;
  right: -1px;
  bottom: -1px;
  z-index: 3;
  font-size: 12px;
  color: #fff;
  background: #6777ef;
  padding: 7px;
  transform: scale(0.9);
  border-radius: 44px 0 0 0;
}
.admin-content .drag-content .drag-c .screen-btn-drag .default-btn-n-border .s-btn-edit:hover {
  background: #6c757d;
}
.admin-content .drag-content .drag-c .screen-btn-drag .screen-one {
  margin-right: 35px;
}
.admin-content .drag-content .drag-c .screen-btn-drag .s-b-active {
  color: #fff;
  background: linear-gradient(353deg, #9985FF 0%, #9985FF 54%, #A18FFF 56%, #A18FFF 100%);
}
.admin-content .drag-content .drag-c .screen-btn-drag .s-b-active .s-btn-edit {
  display: block;
}
.admin-content .drag-content .drag-c .screen-btn-drag .s-b-active-close {
  color: #fff;
  background: linear-gradient(353deg, #9985FF 0%, #9985FF 54%, #A18FFF 56%, #A18FFF 100%);
}
.admin-content .drag-content .drag-c .screen-btn-drag .s-b-active-close .s-b-d-close,
.admin-content .drag-content .drag-c .screen-btn-drag .s-b-active-close .s-btn-edit {
  display: block;
}
.admin-content .drag-content .drag-c .screen-btn-drag .s-b-add {
  margin-right: 0 !important;
  background: #E4E6FC;
}
.jl_vip_zt_warp_hf {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
#jl_vip_zt_header_warp,
#jl_vip_zt_header_warp {
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 1;
}
.mask-layer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0);
}
.jl_vip_zt_del {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid #e6e9ff;
  color: red;
  display: block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 14px;
  border-radius: 50%;
  z-index: 150;
  font-weight: 400;
  font-style: inherit;
}
.jl_vip_zt_del::before {
  content: "\2716";
}
.jl_vip_zt_del:hover {
  color: #001eff;
  background-color: #fff;
}
.mask-layer-active .mask-layer {
  border: 3px dashed #001eff;
}
/*左侧菜单缩放后-按钮**/
.left-menu-flex {
  position: fixed;
  left: 0;
  top: 50%;
  z-index: 4;
  margin-top: -190px;
}
.left-menu-flex span {
  cursor: pointer;
  display: block;
  width: 40px;
  height: 108px;
  margin-top: 20px;
}
.left-menu-flex span:hover {
  opacity: 0.7;
}
.left-menu-flex span:first-child {
  background: url(../../../assets/admin/img/skin-btn.png) no-repeat center;
}
.left-menu-flex span:last-child {
  background: url(../../../assets/admin/img/set-btn.png) no-repeat center;
}
